.frame {
  border: 1px solid black;
  width: 100%;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
  font-weight: 600;
  min-height: 35px;
  display: flex;
  align-items: center;
}

.panelInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.expand {
  margin-left: auto;
  flex-shrink: 0;
  transition: transform 0.2s ease-in-out;

  &.expanded {
    transform: rotate(180deg);
    background-color: var(--color-highlight);

    &:hover,
    &:focus {
      background-color: var(--color-highlight-2);
    }
  }
}

.content {
  margin-top: 10px;
  transform-origin: top center;

  &.expanded {
    animation: expand 0.2s ease-in-out forwards;
  }
}

@keyframes expand {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }
  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}

button {
  background-color: var(--color-background);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:active {
    background-color: var(--color-highlight);
  }

  &:hover,
  &:focus {
    background-color: var(--color-highlight-2);
  }
}
