.frame {
  border: 1px solid black;
  width: 100%;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
  font-weight: 600;
  min-height: 35px;
  display: flex;
  align-items: center;
}

.panelInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  margin-top: 10px;
}

button {
  background-color: var(--color-background);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

button:hover {
  background-color: var(--color-highlight-2);
}

button:active {
  background-color: var(--color-highlight);
}
