.controlButton {
  width: auto;
  border-radius: 9999px;
  display: inline;
  margin-right: 5px;
}

.controlButton.active,
.fontsizeButton.active {
  background-color: var(--color-highlight);

  &:hover,
  &:focus {
    background-color: var(--color-highlight-2);
  }
}

.colorButton {
  width: 35px;
  height: 35px;
  border: 2px solid transparent;
  display: inline;
  margin-right: 5px;
  position: relative;
}

.colorButton:hover,
.colorButton:focus-visible {
  border: 2px solid var(--color-highlight-2);
  outline: none;
}

.colorButton.active {
  border: 2px solid var(--color-highlight);

  &:hover,
  &:focus {
    border: 2px solid var(--color-highlight-2);
  }
}

.colorButton.active::after {
  content: "✓";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 600;
}

.colorButton.lightGray {
  background-color: var(--color-light-gray);
}

.colorButton.darkBlue {
  background-color: var(--color-dark-blue);
  color: white;
}

.colorButton.lightBlue {
  background-color: var(--color-light-blue);
}

.fontsizeButton {
  width: 35px;
  height: 35px;
  display: inline;
  margin-right: 5px;
  font-weight: 500;
}

.fontsizeButton.small {
  font-size: 0.8rem;
}

.fontsizeButton.medium {
  font-size: 1rem;
}

.fontsizeButton.large {
  font-size: 1.2rem;
}

.settings {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: start;
}

.controlButton {
  width: auto;
}

.buttonGroup {
  display: inline-flex; /* keep buttons inline */
}

.buttonGroup button {
  border-radius: 0; /* reset rounding for all buttons */
}

/* First button: round only the left sides */
.buttonGroup button:first-of-type {
  border-top-left-radius: 9999px;
  border-bottom-left-radius: 9999px;
}

/* Last button: round only the right sides */
.buttonGroup button:last-of-type {
  border-top-right-radius: 9999px;
  border-bottom-right-radius: 9999px;
}
