.controlButton {
  width: auto;
  border-radius: 9999px;
  display: inline;
  margin-right: 5px;
}

.colorButton {
  width: 35px;
  height: 35px;
  border: 2px solid transparent;
  display: inline;
  margin-right: 5px;
  position: relative;

  &.lightGray {
    background-color: var(--color-light-gray);
  }

  &.darkGray {
    background-color: var(--color-dark-gray);
  }

  &.darkBlue {
    background-color: var(--color-dark-blue);
    color: white;
  }

  &.lightBlue {
    background-color: var(--color-light-blue);
  }

  &:hover {
    border: 2px solid var(--color-highlight-2);
  }

  &.active {
    border: 2px solid var(--color-highlight);
  }

  &.active::after {
    content: "✓";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 600;
  }
}

.fontsizeButton {
  width: 35px;
  height: 35px;
  display: inline;
  margin-right: 5px;
  font-weight: 500;

  &.small {
    font-size: 0.8rem;
  }

  &.medium {
    font-size: 1rem;
  }

  &.large {
    font-size: 1.2rem;
  }
}

.controlButton.active,
.fontsizeButton.active {
  background-color: var(--color-highlight);
}

.settings {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: start;
}

.controlButton {
  width: auto;
}

.buttonGroup {
  display: inline-flex;
}

.buttonGroup button {
  border-radius: 0; /* reset rounding for all buttons */
}

/* First button: round only the left sides */
.buttonGroup button:first-of-type {
  border-top-left-radius: 9999px;
  border-bottom-left-radius: 9999px;
}

/* Last button: round only the right sides */
.buttonGroup button:last-of-type {
  border-top-right-radius: 9999px;
  border-bottom-right-radius: 9999px;
}
