.inputContainer {
  position: relative;
  margin-top: 1.5rem;
}

.inputContainer input,
.inputContainer textarea {
  width: 100%;
  padding: 0.5rem 1rem;
  border: 1px solid black;
  border-radius: 4px;
}

.inputContainer .inputLabel {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 0.9rem;
  color: #666;
  transition: transform 0.2s ease-in-out;
}

.inputContainer:has(textarea) .inputLabel {
  top: 1rem;
}

.inputContainer input:focus + .inputLabel,
.inputContainer input:not(:placeholder-shown) + .inputLabel,
.inputContainer textarea:focus + .inputLabel,
.inputContainer textarea:not(:placeholder-shown) + .inputLabel {
  top: 0;
  transform: translateY(-100%);
  font-size: 0.8rem;
  color: #333;
}

.inputContainer > textarea {
  resize: vertical;
}

.endDateContainer {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;

  input[type="date"] {
    margin-right: 10px;
  }

  input.endDateIsPresent {
    width: auto;
    accent-color: var(--color-highlight);
  }
}

input[type="date"] {
  width: auto;
}
