.frame {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
  min-height: 45px;
}

.panelInfo {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.expand {
  margin-left: auto;
}

.removeExperience {
  display: none;
  margin-top: 5px;
  align-self: end;
}

.removeExperience.displayed {
  display: block;
}

.incomplete {
  color: rgb(221, 0, 0);
  font-weight: 600;
}

.organization {
  display: block;
  font-size: 0.9rem;
  color: #666;
}
