.frame {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
  min-height: 45px;
}

.panelInfo {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.expand {
  margin-left: auto;
  flex-shrink: 0;
  transition: transform 0.2s ease-in-out;
}

.expand.expanded {
  transform: rotate(180deg);
  background-color: var(--color-highlight);
}

.content {
  transform-origin: top center;

  &.expanded {
    animation: expand 0.2s ease-in-out forwards;
  }
}

@keyframes expand {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }
  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}

.removeExperience {
  display: none;
  margin-top: 5px;
  align-self: end;
}

.removeExperience:hover {
  background-color: var(--color-warning);
}

.removeExperience.displayed {
  display: block;
}

.incomplete {
  color: var(--color-warning);
  font-weight: 600;
}

.organization {
  display: block;
  font-size: 0.9rem;
  color: #666;
}
