.renderedCv {
  border: 1px solid gray;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.fullName {
  font-size: 2rem;
  font-weight: 600;
}

.sectionHeader {
  text-transform: uppercase;
  font-weight: 800;
}

.timeAndLocation {
  font-size: 0.9rem;
  color: #666;
}

.label {
  font-weight: 600;
}

.sectionHeader,
.educationItemHeader,
.experienceItemHeader {
  border-bottom: 1px solid #ccc;
  margin: 1rem 0 0.5rem 0;
}

.position,
.title {
  text-transform: uppercase;
}

.position,
.title {
  font-weight: 600;
}
