.renderedCv {
  width: 100%;
  border: 1px solid black;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding-bottom: 10px;
  font-size: var(--rendered-font-medium);

  --rendered-font-small: 0.9rem;
  --rendered-font-medium: 1rem;
  --rendered-font-large: 2rem;

  --cv-header-bg: var(--color-light-gray);
  --cv-header-title-color: var(--color-dark-gray);
  --cv-header-text-color: black;
  --cv-main-title-color: var(--color-dark-gray);
  --cv-accent-color: var(--color-mid-gray);

  &[data-theme="darkGray"] {
    --cv-header-bg: var(--color-dark-gray);
    --cv-header-title-color: white;
    --cv-header-text-color: white;
  }

  &[data-theme="lightBlue"] {
    --cv-header-bg: var(--color-light-blue);
    --cv-accent-color: var(--color-mid-blue);
  }

  &[data-theme="darkBlue"] {
    --cv-header-bg: var(--color-dark-blue);
    --cv-header-title-color: white;
    --cv-header-text-color: white;
    --cv-accent-color: var(--color-mid-blue);
  }

  &[data-fontsize="small"] {
    --rendered-font-small: 0.8rem;
    --rendered-font-medium: 0.9rem;
    --rendered-font-large: 1.5rem;
  }

  &[data-fontsize="large"] {
    --rendered-font-small: 1rem;
    --rendered-font-medium: 1.2rem;
    --rendered-font-large: 2.5rem;
  }
}

h2,
h3 {
  color: var(--cv-main-title-color);
}

.personalInfo {
  background-color: var(--cv-header-bg);
  color: var(--cv-header-text-color);

  .fullName {
    font-size: var(--rendered-font-large);
    font-weight: 700;
  }

  .basicInfo {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px 20px;
  }

  p {
    display: flex;
    align-items: center;
  }

  .icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 5px;
  }

  .label {
    font-weight: 700;

    &.email,
    &.phone,
    &.address {
      display: none;
    }
  }
}

[data-theme="darkGray"] .icon,
[data-theme="darkBlue"] .icon {
  filter: brightness(0) invert(1);
}

[data-theme="darkGray"] .emailLink,
[data-theme="darkBlue"] .emailLink {
  color: white;
}

section {
  padding: 0 10px;
  margin: 10px 0;
}

section.personalInfo {
  padding: 10px;
  margin: 0;
}

.sectionHeader {
  text-transform: uppercase;
  font-weight: 800;
}

.timeAndLocation {
  font-size: var(--rendered-font-small);
  color: var(--color-mid-gray);
}

.sectionHeader,
.fullName {
  border-bottom: 3px solid var(--cv-accent-color);
}

.educationItemHeader,
.experienceItemHeader {
  border-bottom: 2px solid var(--cv-accent-color);
}

.sectionHeader,
.educationItemHeader,
.experienceItemHeader {
  margin-bottom: 0.5rem;
}

.position,
.title {
  text-transform: uppercase;
}

.position,
.title {
  font-weight: 600;
}

@media (min-width: 600px) {
  section {
    padding: 0 20px;
    margin: 20px 0;
  }

  section.personalInfo {
    padding: 20px;
    margin: 0;
  }

  .renderedCv {
    padding-bottom: 0;

    &[data-layout="top"] {
      .personalInfo {
        .label {
          &.email,
          &.phone,
          &.address {
            display: block;
          }
        }

        .icon {
          display: none;
        }
      }
    }

    &[data-layout="left"],
    &[data-layout="right"] {
      display: grid;
      grid-template-columns: auto 1fr;
      grid-template-areas:
        "personalInfo bio"
        "personalInfo experience"
        "personalInfo education";

      .personalInfo {
        grid-area: personalInfo;

        .basicInfo {
          flex-wrap: nowrap;
          flex-direction: column;

          .label {
            &.email,
            &.phone,
            &.address {
              display: none;
            }
          }

          .icon {
            display: block;
          }
        }
      }

      .bio {
        grid-area: bio;
      }

      .experience {
        grid-area: experience;
      }

      .education {
        grid-area: education;
      }
    }

    &[data-layout="right"] {
      grid-template-columns: 1fr auto;
      grid-template-areas:
        "bio personalInfo"
        "experience personalInfo"
        "education personalInfo";
    }
  }
}
