.renderedCv {
  width: 100%;
  border: 1px solid black;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding-bottom: 10px;

  --cv-header-bg: var(--color-light-gray);
  --cv-header-title-color: var(--color-dark-gray);
  --cv-header-text-color: black;
  --cv-main-title-color: var(--color-dark-gray);
  --cv-accent-color: var(--color-mid-gray);

  &[data-theme="darkGray"] {
    --cv-header-bg: var(--color-dark-gray);
    --cv-header-title-color: white;
    --cv-header-text-color: white;
  }

  &[data-theme="lightBlue"] {
    --cv-header-bg: var(--color-light-blue);
    --cv-accent-color: var(--color-mid-blue);
  }

  &[data-theme="darkBlue"] {
    --cv-header-bg: var(--color-dark-blue);
    --cv-header-title-color: white;
    --cv-header-text-color: white;
    --cv-accent-color: var(--color-mid-blue);
  }
}

h2,
h3 {
  color: var(--cv-main-title-color);
}

.personalInfo {
  background-color: var(--cv-header-bg);
  color: var(--cv-header-text-color);

  p {
    display: flex;
    align-items: center;
  }
}

section {
  padding: 0 10px;

  &.personalInfo {
    padding: 10px;
  }
}

.fullName {
  font-size: 2rem;
  font-weight: 700;
}

.sectionHeader {
  text-transform: uppercase;
  font-weight: 800;
}

.timeAndLocation {
  font-size: 0.9rem;
  color: var(--color-mid-gray);
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 5px;
}

[data-theme="darkGray"] .icon,
[data-theme="darkBlue"] .icon {
  filter: brightness(0) invert(1);
}

[data-theme="darkGray"] .emailLink,
[data-theme="darkBlue"] .emailLink {
  color: white;
}

.label {
  font-weight: 700;

  &.email,
  &.phone,
  &.address {
    display: none;
  }
}

.sectionHeader,
.educationItemHeader,
.experienceItemHeader,
.fullName {
  border-bottom: 3px solid var(--cv-accent-color);
}

.sectionHeader,
.educationItemHeader,
.experienceItemHeader,
.fullName {
  margin: 1rem 0 0.5rem 0;
}

.position,
.title {
  text-transform: uppercase;
}

.position,
.title {
  font-weight: 600;
}
